<html lang="en">
  <head>

    <title>Catclicker</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/normalize.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico" type="text/css">
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <script type="text/javascript" src="../../JS/catClicker.js"> </script>
    <!-- jquery maybe -->
    <!-- maybe some of my JS -->
  </head>

  <body>
    <div class="header">
      <h1>CatClicker V0.0</h1>
    </div>

    <div class="body">
      <div class="catPictureDiv">
        <img class="catPicture" src="./../../../Assets/cat.jpg">
      </div>

      <div class="counter">
        <p>
          You have clicked the cat picture: <span class="numClicks"> 0 </span> times.
        </p>
      </div>
    </div>
  </body>
</html>
