<html lang="en">
  <head>

    <title>Catclicker</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/normalize.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico" type="text/css">
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <script type="text/javascript" src="../../JS/catClicker.js"> </script>
    <!-- jquery maybe -->
    <!-- maybe some of my JS -->
  </head>

  <body>
    <div class="header">
      <h1>CatClicker V0.0</h1>
    </div>

    <div class="body">
      <div class="cat1">
        <div class="catPictureDiv1">
          <img class="catPicture" src="./../../../Assets/cat.jpg">
        </div>

        <div class="counter1">
          <p>
            You have clicked the cat picture: <span class="numClicks1"> 0 </span> times.
          </p>
        </div>
      </div>

      <div class="cat2">
        <div class="catPictureDiv2">
          <img class="catPicture" src="./../../../Assets/cat2.jpg">
        </div>

        <div class="counter2">
          <p>
            You have clicked the cat picture: <span class="numClicks2"> 0 </span> times.
          </p>
        </div>
      </div>

    </div>
  </body>
</html>
