/* framework stylesheet for 1/12 - 12/12 column width
and row width = pagewidth.
note that 1/12 = 8.33333 %*/

* {
  margin: auto;
  text-align:center;
  max-width: 960px;
}

.header {
  margin: 5%;
}

h1 {
  font-family: 'Pacifico', serif;
  font-size: 48px;
  font-weight: lighter;
  text-shadow: 4px 4px 4px #aaa;
}

* {
  border: 1px solid red !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/*add some margin and/or padding to rows cols as needed as absolute px*/

/*
NORMALIZE CSS: LINK IN HEAD
https://github.com/necolas/normalize.css/
*/

/* overflow if necessary */

/*
do media queries for responsive design:
@media only screen and (max-width: 500px) {

}
*/


.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50.00%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
